---
import { getCollection } from "astro:content";

import ArticleCard from "../../../components/ArticleCard.astro";
import MainLayout from "../../../layouts/MainLayout.astro";
import type { CollectionEntry } from "astro:content";
import { capitalizeFirstLetter } from "../../../utils";

const { tag } = Astro.params;

if (!tag) {
  throw new Error("Tag is required");
}

const allBlogArticles = (await getCollection("blog")).sort((a, b) => {
  return b.data.pubDate.getTime() - a.data.pubDate.getTime();
});
const tagArticles = allBlogArticles.filter((article) =>
  article.data.tags.includes(tag as string)
);
---

<MainLayout>
  <h1 class="text-3xl font-bold mb-6">#{capitalizeFirstLetter(tag)}</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    {
      tagArticles.map((post) => (
        <div class="flex">
          <ArticleCard article={post} />
        </div>
      ))
    }
  </div>
</MainLayout>
