---
const { currentPage, totalPages } = Astro.props;

const prevPage = currentPage > 1 ? currentPage - 1 : null;
const nextPage = currentPage < totalPages ? currentPage + 1 : null;
---

<div class="flex justify-between my-10">
  {
    prevPage ? (
      <a
        href={`?page=${prevPage}`}
        class="inline-block bg-indigo-100 px-3 py-2 hover:bg-indigo-600 hover:text-white rounded-lg transition-transform hover:scale-105"
      >
        Précédent
      </a>
    ) : (
      <span class="invisible">Précédent</span>
    )
  }

  {
    nextPage ? (
      <a
        href={`?page=${nextPage}`}
        class="inline-block bg-indigo-100 px-3 py-2 hover:bg-indigo-600 hover:text-white rounded-lg transition-transform hover:scale-105"
      >
        Suivant
      </a>
    ) : (
      <span class="invisible">Suivant</span>
    )
  }
</div>
