---
const { currentPage, totalPages, disablePrevious, disableNext } = Astro.props;

const prevPage = currentPage > 1 ? currentPage - 1 : null;
const nextPage = currentPage < totalPages ? currentPage + 1 : null;
---

<div class="flex justify-between my-10">
  <a
    href={`?page=${prevPage}`}
    class={disablePrevious
      ? "inline-block bg-gray-100 px-3 py-2 text-gray-1000 rounded-lg pointer-events-none"
      : "inline-block bg-indigo-100 px-3 py-2 hover:bg-indigo-600 hover:text-white rounded-lg transition-transform hover:scale-105"}
  >
    Précédent
  </a>

  <a
    href={`?page=${nextPage}`}
    class={disableNext
      ? "inline-block bg-gray-100 px-3 py-2 text-gray-1000 rounded-lg pointer-events-none"
      : "inline-block bg-indigo-100 px-3 py-2 hover:bg-indigo-600 hover:text-white rounded-lg transition-transform hover:scale-105"}
  >
    Suivant
  </a>
</div>
